* {
    font-family: 'Fira Code', monospace, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 10px;
}

body {
    background-color: #3b90ff;
}

.container {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 500px;
    margin:  100px auto;
    padding: 50px;
    border-radius: 15px;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#task-form {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

#task-form input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    width: 350px;
    margin-right: 5px;
}

#task-form button {
    border: 1px solid dodgerblue;
    background-color: rgb(211, 233, 255);
    border-radius: 4px;
    padding: 8px;
    margin-right: 5px;
    color: dodgerblue;
}

#tasks {
    margin: 10px;
    text-align: left;
}

#tasks input {
    transform: scale(1.8);
    margin: 10px;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
}